@keyframes spinner {
  to {transform: rotate(360deg);}
}

body {
  margin: 0;
  background-color: #000;
}

video {
  display: block;
}

.btn {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
}

.player {
  display: inline-block;
  vertical-align: top;
}

.player-wrap {
  position: relative;
  cursor: none;
}

.player-wrap[data-hidden="false"] {
  cursor: initial;
}

.player-control-pause {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.player-control {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  background-color: #000;
  border-radius: 50%;
}

.player-control[data-hidden="true"] {
  display: none;
}

.player-control .fas {
  font-size: 50px;
  color: #fff;
}

.player-control-mute {
  width: 35px;;
  height: 100%;
  color: #fff;
}

.player-progress-bar {
  position: absolute;
  top: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.player-progress-play {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: .1s transform;
}

.player-loading-box {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ccc;
}

.player-loading-box[data-hidden="true"] {
  display: none;
}

.player-loading-box .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  animation: spinner .9s linear infinite;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border-top: 2px solid #000;
  border-right: 2px solid transparent;
  animation: spinner .6s linear infinite;
}

.player-controls-bar {
  opacity: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 35px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.15s opacity;
}

.player-wrap[data-hidden="false"] .player-controls-bar {
  opacity: 1;
}

.player-volume-container {
  display: flex;
  height: 100%;
}

.player-volume-bar {
  width: 100px;
  display: flex;
}

.player-control-volume {
  margin: 0;
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
  cursor: pointer;
}

.player-control-volume::-webkit-slider-thumb {
  -webkit-appearance: none;
}

.player-control-volume:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

.player-control-volume::-ms-track {
  width: 100%;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

.player-control-volume::-webkit-slider-thumb {
  width: 12px;
  height: 12px;
  transform: translateY(-3px);
  border-radius: 50%;
  background-color: #fff;
}

.player-control-volume::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  background-color: #fff;
  border-radius: 5px;
}
