@keyframes spinner {
  to {transform: rotate(360deg);}
}

body {
  margin: 0;
  background-color: #000;
}

video {
  display: block;
}

.btn {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
}

.player {
  display: inline-block;
  vertical-align: top;
}

.player-wrap {
  position: relative;
}

.player-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.player-control {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
}

.player-control .fas {
  font-size: 100px;
}

.player-control-mute {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
}

.player:hover .player-control-mute {
  display: block;
}

.player-progress-bar {
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.player-progress-play {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #fff;
}

.player-loading-box {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ccc;
}

.player-loading-box .fas {
  position: absolute;
  top: 50%;
  left: 50%;
  animation: spinner .9s linear infinite;
  transform: translate(-50%, -50%);
  font-size: 50px;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border-top: 2px solid #000;
  border-right: 2px solid transparent;
  animation: spinner .6s linear infinite;
}

.hidden {
  display: none;
}
